<% flash.each do |message_type, message| %>
  <% if message_type == "success" %>
    <div class="alert alert-success"><%= message %></div>
  <% else %>
    <div class="alert alert-danger"><%= message %></div>
  <% end %>
<% end %>